//- head.pug

head

	//- Meta
	meta(
		charset="utf-8"
		)
	meta(
		name="viewport"
		content="width=device-width, initial-scale=1"
		)
	meta(
		name="description"
		content="Ярослав Жук веб-разработчик"
		)
	meta(
		name="keywords"
		content="Разработка сайтов, HTML, CSS, JavaScript"
		)

	//- Favicons
	link(
		href="http://www.zhoock.ru/favicon.ico"
		rel="shortcut icon"
		type="image/x-icon"
		)
	link(
		href="http://www.zhoock.ru/favicon.ico"
		rel="icon"
		type="image/x-icon"
		)

	//- Page title
	title= title

	//- Page styles
	link(
		href="@styles/main.sass"
		rel="stylesheet"
	)

	//- Page scripts
	script(
		src="@scripts/index.js"
		defer
		)

	
		